{% extends 'base.html' %}


{% block content %}
{% include 'header.html' %}
<br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-10">
                <p align="justify">
                ما کی هستیم؟
فروشگاه زرین، متولد ۱۴۰۰ با عشق به کیفیت و مشتری‌مداری. تیمی از جوانان خلاق و پرانرژی که تصمیم گرفتیم خرید آنلاین رو برای شما به تجربه‌ای لذت‌بخش، سریع و مطمئن تبدیل کنیم.

چیزی که ما رو متفاوت می‌کنه:

تنوع بی‌نظیر: از پوشاک و اکسسوری تا لوازم دیجیتال و خانه‌داری، همه‌چیز رو با بهترین برندها گرد هم آوردیم.

قیمت‌های منصفانه: بدون واسطه و با کمترین سود، تا همیشه بهترین قیمت رو به شما ارائه بدیم.

پشتیبانی ۲۴/۷: تیم پشتیبانی ما همیشه کنار شماست تا خریدی آروم و بدون دغدغه داشته باشید.

ارسال رایگان: برای سفارش‌های بالای ۵۰۰ هزار تومان، ارسال به سراسر کشور رایگانه!

چشم‌انداز ما:
می‌خواهیم به بزرگ‌ترین فروشگاه آنلاین ایران تبدیل بشیم، بدون اینکه از تعهد به کیفیت و اعتماد مشتری دست بکشیم.

با ما همراه باشید و از تخفیف‌های ویژه، پیشنهادهای شگفت‌انگیز و محصولات جدید مطلع بشید.

فروشگاه زرین؛ خریدی شیک، خریدی مطمئن.</p>
            </div>
        </center>
    </div>
</div>
<br><br>


{% endblock %}