{% extends "base.html"%}
{% load static %}
{% load humanize %}





{% block content %}
{% include 'header.html' %}




<section class="py-5">
<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for item in products %}
            {% if item.discounted %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- برچسب تخفیف -->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem;">🔥 تخفیف ویژه</div>
                    <!-- تصویر محصول -->
                    <img class="card-img-top" src="{{ item.pictures.url }}" alt="تصویر محصول" >
                    <!-- جزئیات محصول -->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <p class="fw-bolder">{{ item.name }}</p>
                            <!-- امتیاز -->
                            {% if item.score != 0 %}
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                {% with ''|center:item.score as range %}
                                {% for _ in range %}
                                <div class="bi-star-fill"></div>
                                {% endfor %}
                                {% endwith %}
                            </div>
                            {% endif %}
                            <!-- قیمت -->
                            <span class="text-muted text-decoration-line-through">{{ item.price |intcomma }}<br></span>
                            <span class="fw-bolder">{{ item.discounted_price |intcomma }} تومان</span>
                        </div>
                    </div>
                    <!-- دکمه اقدام -->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product_details' item.id %}">مشاهده</a></div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ item.pictures.url }}" alt="تصویر محصول" />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <p class="fw-bolder">{{ item.name }}</p>
                            {% if item.score != 0 %}
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                {% with ''|center:item.score as range %}
                                {% for _ in range %}
                                <div class="bi-star-fill"></div>
                                {% endfor %}
                                {% endwith %}
                            </div>
                            {% endif %}
                            <span class="fw-bolder">{{ item.price |intcomma }} تومان</span>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product_details' item.id %}">مشاهده</a></div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
</section>


{% endblock %}